:root {
    --body-color: rgb(255, 255, 255);
    --element-color: rgb(44, 139, 44);
}

body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--element-color);
}

.btn {
    width: 230px;
    height: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    border-radius: 10px;
    background: var(--body-color);    
}

.btn:hover {
    width: 230px;
    height: 30px;
    font-weight: 700;
    border-radius: 10px;
    color: var(--body-color);
    background: var(--element-color);
} 